[submodule "unicorn-frontend"]
	path = unicorn-frontend
	url = https://github.com/athityakumar/unicorn-frontend
[submodule "unicorn-backend"]
	path = unicorn-backend
	url = https://github.com/athityakumar/unicorn-backend
